$richEditor-icon_size: 24px !default;
$richEditor-button_size: 42px !default;
$richEditor_leftPadding: 36px;

.richEditor {
  padding-left: $richEditor_leftPadding;
}


.richEditor-menuItems {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: nowrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.richEditor-menuItem {
  display: block;
  margin: 0;
  padding: 0;
}

.richEditor-button {
  display: block;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0;
  padding: 0;
  width: $richEditor-button_size;
  height: $richEditor-button_size;
}

.richEditor-embedButton {
  height: $richEditor-icon_size;
  width: $richEditor-icon_size;
}

.richEditorInline-icon {
  width: $richEditor-icon_size;
  height: $richEditor-icon_size;
}